$bg-color: snow;
$text-color: midnightblue;
$accent-color-1: crimson;
$accent-color-2: mediumturquoise;

@mixin lg-screen {
  @media only screen and (min-width: 700px) {
    @content;
  }
}

html {
  background:$accent-color-1;
  background: linear-gradient(90deg, $accent-color-1 0%,$accent-color-2 100%);
}

body {
  font-family: system-ui, sans-serif;
  color: $text-color;
  background: $bg-color;
  min-height: 100vh;
  padding-bottom: 1.5rem;
}

a {
  text-decoration: none;
  color: $accent-color-2;
}

a:hover {
  border-bottom: 2px solid $accent-color-1;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  h1 {
    line-height: 0;
    padding: 0 1.5rem;
    letter-spacing: 2px;
    font-style: italic;
  }

  h2 {
    font-size: 1.15rem;
  }

  nav ul {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 600;

    li {
      padding-right: 1.5rem;
    }
  }
}

small {
  text-transform: uppercase;
  color: $bg-color;
  font-size: 0.7rem;

  span {
    background-color: $accent-color-1;
    padding: 5px;
    border-radius: 5px;
  }
}

// Postlist
main ul li {
  display: grid;
  list-style: none;
  grid-template-columns: min-content 9ch 1fr;
  align-items: center;
  column-gap: 1em;
  row-gap: 0.5em;
  margin-bottom: 2.15rem;  

  @include lg-screen {
    grid-template-columns: auto auto 14ch 1fr;
    margin-bottom: 1.15rem; 
  }

  strong {
    font-size: 1.35rem;
    font-weight: 600;
    letter-spacing: 2px;
    grid-column: 2 / span 3;

    @include lg-screen {
      grid-column: auto ;
    }
  }

  time {
    font-size: 0.9rem;
    grid-column: 1 / span 2;

    @include lg-screen {
      grid-column: auto ;
    }
  }
}

// Post
main article {
  padding: 0 1.5rem;

  h3 {
    font-size: 1.35rem;
    letter-spacing: 2px;
    color: $accent-color-2;
  }

  p {
    @include lg-screen {
      width: 75ch;
    }

    &:last-of-type {
      border-bottom: 2px solid $accent-color-2;
    }
  }
  

  & > span {
    margin: 0 0.5ch;
  }

  img {
    max-width: 100%;
  }

  footer {
    div {
      margin-bottom: 2rem;
    }

    ul {
      margin-left: 0;
      padding: 0;

      li {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: 700;

        span {
          font-style: italic;
          letter-spacing: 1px;
        }
      }
    }
  }
}