<ul>
  {%- for post in postslist | reverse %}
    <li>
      <strong>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </strong>
      <time datetime="{{ post.date | htmlDateString }}">
        {{ post.date | readableDate }}
      </time>
      {%- for tag in post.data.tags %}
        <span>{{ tag }}</span>
      {%- endfor %}
    </li>
  {%- endfor %}
</ul>