<ul>
  {%- for post in postslist | reverse %}
    <li>
      <span>💌</span>
      <strong>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </strong>
      <time datetime="{{ post.date | htmlDateString }}">
        {{ post.date | readableDate }}
      </time>
      <small>
        <span>{{ post.data.from }}</span>
      </small>
    </li>
  {%- endfor %}
</ul>