<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mailming: Virtual Snail Mail for Meems</title>
</head>
<body>
  <header>
    <hgroup>
      <h1>Mailming</h1>
      <h2>Virtual Snail Mail for Meems</h2>
    </hgroup>
  </header>

  <main>
    {{ content | safe }}
  </main>
</body>
</html>