<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ metadata.title }}: {{ metadata.description }}</title>
  <meta name="description" content="{{ metadata.description }}">
  <link rel="stylesheet" href="{{ "/css/index.css" }}">
</head>
<body>
  <header>
    <h1>{{ metadata.title }}</h1>

    <nav>
      <ul>
        {%- for navlink in collections.all | eleventyNavigation %}
          <li>
            <a href="{{ navlink.url | url }}">{{ navlink.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </nav>
  </header>

  <main>
    {{ content | safe }}
  </main>
</body>
</html>