---
layout: layouts/base.njk
---

<article>
  <h3>{{ title }}</h3>
  
  <p>{{ content | safe }}</p>

  <time datetime="{{ date | htmlDateString }}">
    {{ date | readableDate }}
  </time>
  <span>❤️</span>
  <small>
    <span>{{ from }}</span>
  </small>
</article>